---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";

const pageTitle = "首页";
---

<html lang="en">
	<BaseLayout pageTitle={pageTitle}>
		<h2>博客副标题</h2>
		<Greeting client:load messages={["Hi", "Hello", "Howdy"]} />
	</BaseLayout>
</html>
